.dashboard {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #0a5c36;
  color: #fff;
  padding: 30px 20px;
}
.sidebar h3 {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 15px;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 15px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}
.sidebar ul li a:hover {
  background: #084a2b;
}
.content {
  flex: 1;
  background: #f4f6f8;
  margin-left: 260px;
  padding: 0 20px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.stat-card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.stat-card h4 {
  margin-bottom: 10px;
  color: #0a5c36;
}

form.form-input {
  background: #fff;
  /* margin: 0 40px 40px; */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.form-input input,
.form-input textarea,
.form-input select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-input textarea {
  resize: vertical;
  min-height: 80px;
}

.form-input button {
  background: #0a5c36;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.form-input button:hover {
  background: #084d2e;
}

table {
  background: #fff;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
  width: 100%;
}

table th {
  background: #0a5c36;
  color: #fff;
  padding: 12px;
  text-align: center;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

table tr:hover {
  background: #f2f2f2;
}

table a {
  color: #0a5c36;
  text-decoration: none;
  font-weight: 600;
}

table a:hover {
  text-decoration: underline;
}

td.empty-data {
  text-align: center;
  font-style: italic;
}

button.kembali {
  background: red;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

button.kembali:hover {
  background-color: #b30000;
}

table th:nth-child(1) {
  width: 10px;
}

table td:nth-child(1) {
  text-align: center;
}

.header-tabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-tabel h2 {
  padding: 10px 0;
  color: #0a5c36;
  text-align: left;
}

.button {
  background: #0a5c36;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.header-tabel input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}